<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-white text-2xl font-semibold">La hamburguesería</a>
      <div class="space-x-4">
          <a href="/" class="text-white hover:text-gray-300">Inicio</a>

          <% if (!userToken) { %>
              <!-- Mostrar enlace de Registro e Inicio de Sesión si no hay token -->
              <a href="/registro" class="text-white hover:text-gray-300">Registro</a>
              <a href="/iniciosesion" class="text-white hover:text-gray-300">Login</a>
          <% } else { %>
              <!-- Mostrar formulario para borrar el cookie si hay un token -->
              <form action="/borrarcookie" method="post">
                <button type="submit" class="text-white hover:text-gray-300">Cerrar Sesión</button>
              </form>
          <% } %>

          <a href="/carrito" class="text-white hover:text-gray-300">Carrito</a>
      </div>
  </div>
</nav>
