<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>La hamburgueseria</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <nav class="bg-gray-800 p-4">
      <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-white text-2xl font-semibold">La hamburgueseria</a>
        <div class="space-x-4">
          <a href="/" class="text-white hover:text-gray-300">Inicio</a>
          <a href="/carrito" class="text-white hover:text-gray-300">Carrito</a>
        </div>
      </div>
    </nav>
  </body>
</html>
