<!doctype html>
<html lang="en" class="h-full bg-white">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRUD Productos</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    </head>
  <body class="h-full">
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">CRUD Productos</a>
    </nav>